.editor-holder
    .editor-header
        //
    .editor-body
        .title-input
            border: 0
            font-size: 2em
            margin: 1em 0
            font-weight: bold
        #editor-wrid
            margin: 0
            p
                margin: 0
                line-height: 1.5em
            &:focus
                outline: none
