.editor-holder
    width: 85%
    margin: auto
    .editor-header
        display: flex
        .left-side,.right-side
            display: inline-block
        .left-side
            width: 60%
            display: flex
            .user-img,.user-cred
                display: inline-block
                padding: 0 1em
            .user-img
                margin-top: 1em
                img
                    height: 70px
                    width: 70px
            .user-cred
                margin: 0
                padding: 0
                label
                    display: block
                    padding: .2em 0
                .user-name
                    font-size: 1.3em
                    font-weight: bold
                .username
                    font-size: 1em

    .editor-body
        color: $sgrey
    .title-input
        border: 0
        font-size: 2em
        margin: 1em 0
        font-weight: bold
    #editor-wrid,.editor
        margin: 0
        padding: 0
        font-size: 1.5em
        line-height: 1.5em
        cursor: text
        p
            padding: 0
            margin: 0
            &:focus
                outline: none
        &:focus
            outline: none

.medium-editor-placeholder
    &:after
        font-style: normal
        font-weight: bold
        font-size: 1.5em
        color: rgba(120, 120, 120, 0.9)
.dd-holder
    position: absolute
    width: 60%
    right: 0
    .dd-trigger
        margin-top: 1%
        font-size: 1em
        cursor: pointer
        color: $sgrey
        position: relative
        top: 15px
        .dd-trigger-object
            width: 10%
            position: relative
            left: 70%

    .dd-content
        margin-top: 10%
        border-radius: 5px
        text-overflow: ellipsis
        overflow: hidden
        background-color: rgba(255, 255, 255, 0.95)
        z-index: 1
        .dd-margin
            padding: 1em
            text-align: left
            color: $sgrey
            .inspire-btn
                position: relative
                float: right
                margin-bottom: 1em
.show
    display: block
.hide
    display: none
