.editor-holder
    .editor-header
        //
    .editor-body
        .title-input
            border: 0
            font-size: 1.2em
            margin: 1em 0
            font-weight: bold
        .editor
            //
            &:focus
                outline: none
