.modal-holder
    position: fixed
    height: 100%
    width: 100%
    background-color:  rgba(0, 0, 0, 0.7)
    top: 0
    z-index: 2
    .modal-content-holder
        width: 70%
        margin: 5% auto
        background-color: white
        .modal-content
            height: 90%
            width: 90%
            margin: 5%
            border: 1px solid black
            .modal-header
                border: 1px solid blue
                margin: 1% auto
                display: flex
                font-size: 1.3em
                .modal-user-img,.modal-user-info-holder
                    display: inline-block
                    margin: 0 .5em
                .modal-user-info-holder
                    .name-info
                        font-weight: bold
