.nav-holder
    width: 100%
    height: 60px
    top: 0
    position: fixed
    background-color: white
    z-index: 1
    .nav-content
        max-width: 1000px
        width: 80%
        margin: 0 auto
        height: inherit
        @include responsive-big($big-break)
        .upper-nav
            margin: .5% auto
            height: 80%
            display: block
            //.upper-nav div.un-cont,.lower-nav div.ln-cont
                display: inline-block
            .main-search-bar,.logo-title,.right-side
                display: inline-block
            .logo-title
                display: inline-grid
                align-items: center
                text-align: center
                height: 100%
                font-weight: 700
                font-size: 2em
            .right-side
                height: 100%
                position: relative
                float: right
                top: 10px
                .user-menu-trigger
                    cursor: pointer

                .link-gradient
                    transition: color .5s ease-out
                    &:hover
                        color: #b9b100
                &>*
                    display: inline-block
                    padding: 0 1em


        .lower-nav
            display: none
            text-align: center
            font-size: .8em
            color: #d9d9d9
            ul
                li
                    display: inline-block
                    padding: 0 1em
                    &:hover
                        color: black


.nav-editor-holder
    background-color: $bg-color
    .right-side
        width: 40%
        margin: 0
