
$grey: rgba(154, 154, 154, .55);
$sgrey:  rgba(66, 66, 66, 0.9);
$bg-color : #eee;
$red-warning: rgba(148, 44, 44, 0.9);
$light-black: #202020;
$greyish: rgba(215, 215, 215, 0.9);
$blackish: rgba(0, 0, 0, 0.9);
$light-grey: #d9d9d9;
$success-green: rgba(4, 144, 72, 0.9);

$big-break: 500px;
@import 'mixins';
@import 'general';

@import 'login';
@import 'nav';
@import 'animations';
@import 'home';
@import 'post';
@import 'profile';
@import 'modal';
@import 'registration';
@import 'editor';
@import 'tags';
@import 'modal';
