
$grey: rgba(154, 154, 154, .55);
$sgrey:  rgba(66, 66, 66, 0.9);
$bg-color : #eee;
$red-warning: rgba(148, 44, 44, 0.9);
$light-black: #202020;
$big-break: 500px;
@import 'mixins';
@import 'general';

@import 'login';
@import 'nav';
@import 'animations';
@import 'home';
@import 'post';
@import 'profile';
@import 'modal';
@import 'registration';
